@page "/"

<h1>在线代码编辑器</h1>
<div style="border-top: 1px solid black; border-bottom: 1px solid black;">
    <textarea id="code" cols="120" rows="50">
using System;
    namespace MySpace
    {      
        public class Test
        {
            public string MyMethod()
            {
                Console.WriteLine(""程序集运行成功"");
                return ""测试成功"";
        }
    }
}
</textarea>
</div>
